<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7up-izJZ5vT8gu9myVoNixBXlm_ZwKLY</string>
	<key>GCM_SENDER_ID</key>
	<string>1020442234048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.seabat.ramennote</string>
	<key>PROJECT_ID</key>
	<string>ramen-note</string>
	<key>STORAGE_BUCKET</key>
	<string>ramen-note.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020442234048:ios:78e3792bb4447a4bd23125</string>
</dict>
</plist>